
*{
    margin: 0;
    padding: 0;
    
}



a {
    text-decoration: none;
    color: black;
}

.logo{
    width: 70px;
}


/* HEADER con grid */

header {
    border-bottom: 2px solid #e28090;
    position: sticky;
    top: 0;
    backdrop-filter: blur(2px);
    align-items: center;
}

.navbar {
    display: grid;
    height: 100%;
    align-items: center;
    grid-template-areas: 
    "logo menu shopping";
    position: sticky;
    top: 0;
}

.navbar .logo {
    width: 115px;
    height: 115px;
    grid-template-areas: logo;
    text-align: left;
    margin-left: 3rem;
}

.navbar .menu {
    grid-template-areas: menu;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.navbar .menu li {
    list-style: none;
}

.navbar .menu a {
    text-decoration: none;
    color: #181818;
    cursor: pointer;

}

.navbar .menu a:hover {
    color: white;

}

.navbar .menuBar {
    display: none;
}

.navbar .shopping {
    grid-template-areas: shopping;
    cursor: pointer;
    text-align: right;
    margin-right: 3rem;
    
}

.navLink {
    padding: 1rem 2rem;
    text-align: center;
}

.navLink:hover{
    background-color: #eabfc7;
}
nav ul{
    padding: 1rem;
    margin-right: 1rem;
    display: flex;
}

nav ul li{
    padding: 1rem;
    margin-left: 0.5rem;
}

ul {
    list-style: none;
    font-size:0 
 }

 li {
    display: inline-block;
    width: 15%;
    position: relative;
    font-size: 1rem;
 }

 ul ul {
    position: relative;
    display: none;
}


 ul ul li {
    display: block;
    width: 1rem;
   padding: 1rem;
 }

 
ul li ul {
   margin: 0;
}

 ul li:hover ul {
    position: absolute;
    display: block;
}

ul li ul li {
padding: 1rem;  
text-align: center;
  width: 100%;
    position: relative;
   background-color: #eabfc7;
}


ul li ul li:hover {
    background-color: #f1b6c0;
}

/* FOOTER con grid */

.footer {
    display: grid;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid #e28090;
    grid-template-areas: 
    "redes derycon logoFooter";
}

.footer .redes {
    grid-template-areas: redes;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: black;
}

.footer .redes a {
    text-decoration: none;
    color: black;
}

.footer .redes i{
    font-size: 2em;
    margin-right: 2rem;
}

.footer .derycon {
    grid-template-areas: deycon;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 1.2em;
}

.footer .logoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 10em;
    grid-template-areas: logoFooter;
}

/*TITULO*/

section#titulo{
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    text-align: center;
}

section#titulo div h1{  
    color: pink;
    font-size: xx-large;
}
section#titulo div h2{  
    font-size: large;
}

/*BANNER*/
.banner {
    margin: 3rem;
}

div#banner {
    width: 95%;
    padding: 95%;
}

img#idBanner{
    display: block;
    margin: auto;
    width: 100%;
}

/* CATEGORIAS con grid */

.hero {
    display: grid;
    grid-template-columns: minmax(10);
    grid-template-rows: minmax(10);
}

.hero div { 
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero div h2 { 
    margin: 3rem;
    text-align: center;
    border-bottom: 2px solid #e28090;

}

.hero .portadas {
display: flex;
align-items: center;
justify-content: space-around;
}

.hero .portadas a img {
    padding: 15px;
    border-radius: 20px;
    width: 500px;
}


/* PRODUCTOS con grid */

.sectionProductos {
    display: grid;
    grid-template-columns: minmax(10);
    grid-template-rows: minmax(10);

}

.sectionProductos div { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionProductos div h2 { 
    margin: 3rem;
    text-align: center;
    border-bottom: 2px solid #e28090;
}

.sectionProductos .productosDestacados {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.sectionProductos .productosDestacados a img {
    margin: 3rem;
    padding: 5px;
    border-radius: 10px;
    
}

/*FORMULARIO DE CONTACTO*/

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;

  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .formulario {
    display: flex;
    justify-content: center;
}
  

  .form {
    display: flex;
    width: 500px;
    margin: 5rem;
    padding: 20px;
    border-radius: 10px;
    background-color: #eabfc7;
    justify-content: center;
    align-items: center;
  }



 /* CLASES */

.para-roboto {
    font-family: 'Roboto', sans-serif;
}

.negrita {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.wppIcon {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
}



